@model ExamResultVM

<main>
    <h1 class="title text-center py-3">@Model.SelectedCategoryName</h1>
    <div class="result mt-3 text-center">
        <p class="lead">You have answered @Model.CorrectAnswerCount out of @Model.Questions.Count questions correctly.</p>
    </div>
    <div class="exam-results mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date Taken</th>
                    <th scope="col">Category</th>
                    <th scope="col">Correct Answers</th>
                    <th scope="col">Total Questions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var examResult in Model.ExamResults)
                {
                    <tr>
                        <td>@examResult.DateTaken.ToShortDateString()</td>
                        <td>@examResult.ExamCategory.CategoryName</td>
                        <td>@examResult.CorrectAnswers</td>
                        <td>@examResult.TotalQuestions</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
