@model ExamResultVM

<main>
    <h1 class="title text-center py-3">@Model.SelectedCategoryName</h1>
    <div class="question mb-3">
        <ol>
            @foreach (var question in Model.Questions)
            {
                if (@question.IsDeleted == false)
                {
                    <li style="font-size:1.5rem">
                        @question.Content
                        <div class="answers mt-3">
                            <label class="d-block mb-2">
                                @foreach (var questionanswer in Model.QuestionAnswers.Where(x => x.QuestionId == question.Id && x.Question.ExamCategoryId == Model.SelectedCategoryId))
                                {
                                    bool isSelected = Model.SelectedAnswerIds.Contains(questionanswer.AnswerId);
                                    bool isCorrect = Model.CorrectAnswerIds.Contains(questionanswer.AnswerId);

                                    <div class="form-check" style="font-size:1rem">
                                        <input value="@questionanswer.AnswerId" name="selectedAnswerIds" id="@questionanswer.AnswerId" type="checkbox" disabled @if (isSelected)
                                        {
                                            <text>checked</text>
                                        }>

                                        <label class="form-check-label mx-3" style="user-select:none" for="@questionanswer.AnswerId">
                                            @questionanswer.Answer.Option
                                            @if (isCorrect)
                                            {
                                                <span class="badge bg-success mx-2">true</span>
                                            }
                                            @if (!isCorrect)
                                            {
                                                @if (isSelected)
                                                {
                                                    <span class="badge bg-danger mx-2">false</span>
                                                }
                                                @*
                                                <small class="text-muted">
                                                Correct answer: @Model.QuestionAnswers.Single(x => x.QuestionId == question.Id && x.Answer.Status)?.Answer.Option
                                                </small>
                                                *@

                                            }
                                        </label>
                                    </div>
                                }
                            </label>
                        </div>
                    </li>
                }
            }
        </ol>
    </div>
   <div class="result mt-3 text-center">
        <p class="lead">You have answered @Model.CorrectAnswerCount out of @Model.Questions.Count(q => !q.IsDeleted) questions correctly.</p>
    </div>
</main>
